[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-pptx = "*"
matplotlib = "*"
numpy = "*"
ipykernel = "*"

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
isort = "*"

[requires]
python_version = "3.12"
